@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

* {
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


article {
    padding-bottom: 10rem;
}

.addTaskBtn {
    background-color: transparent;
    border: none;
}

    .addTaskBtn:hover {
        cursor: pointer;
    }

.titleContainer {
    margin: 0rem 2rem 2rem 0rem;
}

.titleName {
    color: rgb(33, 150, 243);
}

.title {
    font-size: 2rem;
    color: black;
}

/*.taskContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: .5px solid lightgrey;
    padding: .5rem;
    position: relative;
    font-size: .8rem;
    width: 100%;
    flex-wrap: wrap;
}*/

.taskContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    position: relative;
    border: .5px solid lightgray;
  
}



/*.taskContainer > * {
    flex: 1;
}*/


/*.taskContainerLeft {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.containerLeftComponents {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.taskContainerRight {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}*/

.backlog-page-container{
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
}

@media(max-width: 1000px){
    .backlog-page-container {
        grid-template-columns: 1fr 11fr;
    }
}

@media(max-width: 500px) {
    .backlog-page-container {
        grid-template-columns: 1fr;
    }
    
    .dropzone {
        height: 1rem;
    }
}


/*.taskComponentsContainer {
    display: flex;
    align-items: center;
}*/

.singleComponentRight {
    margin: 0rem .5rem;
}

    .singleComponentRight:last-of-type {
        margin: 0rem;
    }



.wideCenter {
    max-width: 90%;
}

.taskBorder {
    border-left: 10px solid rgb(33, 150, 243);
}

.subTaskBorder {
    border-left: 10px solid #FF4081;
}

.kanbanSections {
    min-width: 15%;
    max-width: 25%;
}

.validation-message {
    color: red;
    font-weight: bold;
}

.xs-height {
    min-height: 2rem;
}

.s-height {
    min-height: 3rem;
}

.m-height {
    min-height: 4.5rem;
}

.l-height {
    min-height: 6rem;
}

.xl-height {
    min-height: 8rem;
}

.mud-Primary {
    color: #594ae2ff;
    Background: #594ae2ff;
}

.mud-Secondary {
    color: #ff4081ff;
    background: #ff4081ff;
}

.mud-Tertiary {
    color: #594ae2ff;
    Background: #594ae2ff;
}

.mud-Info {
    color: #2196f3ff;
    Background: #2196f3ff;
}

.mud-Success {
    color: #00c853ff;
    Background: #00c853ff;
}

.mud-Warning {
    color: #ff9800ff;
    Background: #ff9800ff;
}

.mud-Error {
    color: #f44336ff;
    Background: #f44336ff;
}

.mud-Dark {
    color: #424242ff;
    Background: #424242ff;
}