/* /Components/AcceptanceCriteriaComponent.razor.rz.scp.css */
.entireComponentContainer:hover[b-8lf05c6pvd]{
    cursor: pointer;
}

.entireComponentContainer:hover[b-8lf05c6pvd]::after{
    content: "Acceptance Criteria";
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 1.5rem;
    padding: .5rem;
    background: yellow;
    z-index: 1;
    box-shadow: 6px 9px 39px -5px rgba(0,0,0,0.46);
}

.acceptanceCriteriaContainer[b-8lf05c6pvd] {
    z-index: 1;
    background: white;
    border: 3px solid black;
    padding: .5rem;
    border-radius: 1rem;
}

.acceptanceCriteria[b-8lf05c6pvd] {
    display: none;
    background: white;
    min-width: 500px;
    min-height: 150px;
    border: 1px solid black;
    padding: .2rem 1rem;
    margin: 1rem 0rem;
}

.show[b-8lf05c6pvd] {
    display: block;
}

.closeButton:hover[b-8lf05c6pvd]{
    cursor:pointer;
}
/* /Components/BoardViewComponent2.razor.rz.scp.css */
.itemAge[b-h2dkydk1cb] {
    background: #F2E33A;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: black;
    font-weight: bold;
}

.wipLimitNumber[b-h2dkydk1cb]{
    font-size: 1rem;
    background: gray;
    padding: .25rem .6rem;
    color: white;
}

.wipButton[b-h2dkydk1cb]{
    font-size: 1rem;
    width: 1rem;
}
/* /Components/CompletedTasksComponent.razor.rz.scp.css */
.completedTasksContainer[b-l9431jssyu] {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    min-width: 850px;
    max-width: 1300px;
    right: 0;
    top: 3rem;
    z-index: 2;
    padding: 1rem;
    background-color: #DAF3E4;
    box-shadow: 6px 9px 39px -5px rgba(0,0,0,0.46);
}



.completedTask[b-l9431jssyu]::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background: #E6E1E2;
    opacity: 50%;
    z-index: 3;
}

/* /Components/DateComponent.razor.rz.scp.css */
.dateComponentContainer[b-8zyibo9czk]{
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
}

.dateIcon:hover[b-8zyibo9czk],
.dateSaveBtn:hover[b-8zyibo9czk],
.dateInput:hover[b-8zyibo9czk]{
    cursor: pointer;
}

.dateDropdown[b-8zyibo9czk] {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    position: absolute;
    top: 120%;
    background: white;
    z-index: 1;
    box-shadow: 6px 9px 39px -5px rgba(0,0,0,0.46);
    padding: 1rem .5rem;
    border: 1px solid lightgray;
}

.dateLabel[b-8zyibo9czk]{
    font-weight: bold;
    font-size: 1rem;
    width: 100%;
    padding: .5rem;
    text-align: center;
    margin-bottom: 1.5rem;
    color: white;
}

.dateInput[b-8zyibo9czk] {
    margin: 0rem 1rem;
}

.show[b-8zyibo9czk]{
    display: flex;
}

.dateSaveBtn[b-8zyibo9czk]{
    background: lightgray;
    width: 100%;
    padding: .5rem;
    text-align: center;
}

.dateSaveBtn:hover[b-8zyibo9czk] {
    filter: brightness(1.1);
}

.start[b-8zyibo9czk]{
    background: #2196F3;
}

.end[b-8zyibo9czk] {
    background: #ff4081ff;
}
/* /Components/DeleteTaskComponent.razor.rz.scp.css */
.deleteDialogue[b-4vhjiumjdo] {
    display: none;
    align-items: center;
    justify-content: center;
    background: lightgray;
    border: 1px solid black;
    padding: .5rem 1rem;
    position: absolute;
    width: 350px;
    right: 50%;
    top: -1rem;
    z-index: 1;
}

.show[b-4vhjiumjdo]{
    display: flex;
}
/* /Components/DropContainer.razor.rz.scp.css */
.drop-container[b-8llf89d5nz]{
    position: sticky;
    top: 5rem;
    width: 5rem;
    height: 80vh;
    border: 3px dashed lightgray;
    z-index: 1;
}

.drop-container-text[b-8llf89d5nz] {
    text-align: center;
    font-weight: bold;
    margin-bottom: 2rem;
}

.color[b-8llf89d5nz]{
    border: 3px dotted green;
}

.sprintTasks[b-8llf89d5nz] {
    color: #2196f3ff;
    font-size: 2rem;
}

@media(max-width: 500px) {
    .drop-container[b-8llf89d5nz] {
        height: 5vh;
        width: 100%;
    }

    .drop-container-text[b-8llf89d5nz] {
        text-align: start;
        font-weight: bold;
        margin-bottom: 0rem;
    }

    .sprintTasks[b-8llf89d5nz] {
        color: #2196f3ff;
        font-size: 1rem;
    }
}

.sprintList[b-8llf89d5nz] {
    position: absolute;
    z-index: 2;
    top: -5px;
    left: -5px;
    width: 300px;
    height: auto;
    background: white;
    border: 3px dashed lightgray;
    padding: .5rem;
    cursor: pointer;
}

.hide[b-8llf89d5nz] {
    display: none;
}
/* /Components/EpicComponent.razor.rz.scp.css */
.colorContainer[b-rdtch8u60m] {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
/* /Components/ManageSprintsComponent.razor.rz.scp.css */
.sprintsContainer[b-kqbkwvnfhf] {
    border: 2px solid #2196F3;
    padding: 1rem;
}

.btn-container[b-kqbkwvnfhf]{
    margin-top: 2rem;
}

.mybtn[b-kqbkwvnfhf]{
    margin-top: 1rem;
}

.sprintLabel[b-kqbkwvnfhf] {
    font-weight: bold;
    font-size: 1rem;
}

.sprintInfo[b-kqbkwvnfhf] {
    font-size: 1rem;
}

.addSprintContainer[b-kqbkwvnfhf] {
    border: 2px solid var(--mud-palette-secondary);
    padding: 1rem;
}

@media (max-width: 1350px){
    .sprintBody[b-kqbkwvnfhf] {
        flex-direction: column;
    }
}
/* /Components/MemberComponent.razor.rz.scp.css */
.memberContainer[b-iim7n992ah]{
    position: relative;
    margin: 0rem 1rem;
}

.memberContainer:hover[b-iim7n992ah]{
    cursor:pointer;
}

.memberDropdown[b-iim7n992ah] {
    display: none;
    position: absolute;
    top: 100%;
    z-index: 1;
    background: white;
    padding: 1rem;
    border: 1px solid lightgray;
    box-shadow: 6px 9px 39px -5px rgba(0,0,0,0.46);
}

.showMenu[b-iim7n992ah]{
    display: block;
}

.memberOption[b-iim7n992ah]{
margin: .5rem 0rem;
padding: .3rem;
min-width: 5rem;
max-width: 10rem;
}



.memberOption:hover[b-iim7n992ah]{
    background: lightgray;
    cursor: pointer;
}

.memberIcon[b-iim7n992ah]{
    border: 1px solid lightgray;
    width: 1.4rem;
    height: 1.4rem;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
/* /Components/Old Components Not In Use/BoardViewComponent.razor.rz.scp.css */
.itemAge[b-zb9x0d721d] {
    background: #F2E33A;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: black;
    font-weight: bold;
}

.wipLimitNumber[b-zb9x0d721d]{
    font-size: 1rem;
    background: gray;
    padding: .25rem .6rem;
    color: white;
}

.wipButton[b-zb9x0d721d]{
    font-size: 1rem;
    width: 1rem;
}
/* /Components/PriorityComponent.razor.rz.scp.css */
.one[b-y819uac8ms] {
    background: #FF80AB;
}

.two[b-y819uac8ms] {
    background: #43A047;
}

.three[b-y819uac8ms] {
    background: #B388FF;
}

.four[b-y819uac8ms] {
    background: #82B1FF;
}

.five[b-y819uac8ms] {
    background: #6D4C41;
}

.priorityDropdown[b-y819uac8ms] {
    display: none;
    position: absolute;
    top: 120%;
    background: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    box-shadow: 6px 9px 39px -5px rgba(0,0,0,0.46);
}

.show[b-y819uac8ms]{
    display: flex;
}

.priorityOption[b-y819uac8ms]{
    min-width: fit-content;
}

.priorityItem[b-y819uac8ms]{
    cursor: pointer;
    padding: .5rem .3rem;
}

.priorityItem:hover[b-y819uac8ms]{
    background: lightgray;
}

.priorityContainer[b-y819uac8ms]{
    position: relative;
}

/* /Components/ReassignSubtaskComponent.razor.rz.scp.css */
.reassignmentDropdown[b-a8uzbanf3t]{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    top: 100%;
    z-index: 1;
    border: 1px solid black;
    background-color: white;
    flex-direction: column;
    padding: .5rem;
    max-width: 300px;
}

.taskFont[b-a8uzbanf3t]{
    font-weight: bold;
    margin-bottom: .5rem;
}

.reassignmentDropdownContainer[b-a8uzbanf3t]{
    position: relative;
    cursor: pointer;
}

.reassignmentOptions[b-a8uzbanf3t] {
    margin: .5rem 0rem;
    padding: .3rem;
    max-width: auto;
}

    .reassignmentOptions:hover[b-a8uzbanf3t] {
        background: lightgray;
        cursor: pointer;
    }
/* /Components/ReusableTableComponent.razor.rz.scp.css */
.reusableTable[b-or0qwo9c0u] {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 3rem;
}

.tableName[b-or0qwo9c0u]{
    font-size: 2rem;
    font-weight: bold;
}


/* /Components/ShowSubTasksComponent.razor.rz.scp.css */


.subTaskCounter:hover[b-b5ndk2yh7k] {
    background: rgb(33, 150, 243);
    cursor: pointer;
}

.subTaskCounter[b-b5ndk2yh7k] {
    border: none;
    padding: .2rem .5rem;
    background: var(--mud-palette-secondary);
    color: white;
}

.subtaskList[b-b5ndk2yh7k] {
    position: absolute;
    transform: translateY(30px);
    background: lightgray;
    border: 2px solid var(--mud-palette-secondary);
    padding: 1rem;
    box-shadow: -8px 8px 15px 3px rgba(0,0,0,0.45);
    right: 0;
    z-index: 1;
}

.subtaskItem[b-b5ndk2yh7k] {
    background: var(--mud-palette-dark);
    color: white;
    padding: .5rem .5rem;
    width: 150px;
    margin: .3rem;
}

.hide[b-b5ndk2yh7k] {
    display: none;
}

.subtaskInfo[b-b5ndk2yh7k]{
    display: flex;
    margin-bottom: .4rem;
}

.subtaskInfo:last-of-type[b-b5ndk2yh7k]{
    margin-bottom: 0;
}
/* /Components/TableViewComponent.razor.rz.scp.css */
.tableViewRow[b-osn3cx1hwu]{
    margin-bottom: 0rem;
    border: 1px solid lightgray;
}

.tableViewItem[b-osn3cx1hwu]{
    
    padding: 1rem;
    margin: 1rem;
}

.tableViewHeader[b-osn3cx1hwu] {
    background: rgb(33, 150, 243);
    color: aliceblue;
}

.completeHeader[b-osn3cx1hwu] {
    background: #50F216;
    color: #333333;
}

.tableViewHeaderItem:hover[b-osn3cx1hwu]{
    cursor: pointer;
    filter: brightness(1.1);
}
/* /Components/TagComponent.razor.rz.scp.css */
.tagContainer[b-fybdqig5hx]{
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tagInput[b-fybdqig5hx]{
    border: 1px solid black;
    max-width: 90%;
    padding: .2rem;
}

.colorDropdown[b-fybdqig5hx] {
    position: absolute;
    left: 100%;
    top: 1rem;
    z-index: 1;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border: 1px solid lightgray;
    box-shadow: 6px 9px 39px -5px rgba(0,0,0,0.46);
}

.tagDropdown[b-fybdqig5hx]{
    margin: 1rem .5rem 1rem .5rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    
}

.tagAndTrashBtns[b-fybdqig5hx]{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.tagSaveBtn[b-fybdqig5hx] {
    margin-top: .5rem;
    font: 1rem;
    font-weight: bold;
    padding: .5rem;
    background: lightgray;
    width: 100%;
    text-align: center;
}

.tagSaveBtn:hover[b-fybdqig5hx]{
    cursor: pointer;
    filter: brightness(1.1);
}


.colorContainer[b-fybdqig5hx] {
    display: grid;
    grid-template-columns: auto auto auto;
}

.colorDropdownHeading[b-fybdqig5hx] {
    margin-bottom: .5rem;
    background: gray;
    padding: .5rem;
    color: white;
    width: 100%;
    text-align: center;
}



.hide[b-fybdqig5hx]{
    display: none;
}
/* /Components/TaskComponent.razor.rz.scp.css */
.taskId[b-nmzoxhkka9] {
    background: rgb(33, 150, 243);
}

.subtaskId[b-nmzoxhkka9] {
    background: #FF4081;
}

.subtaskIndent[b-nmzoxhkka9]{
    transform: translateX(5%);
}

.idStyle[b-nmzoxhkka9] {
    padding: 2px 8px 2px 8px;
    width: auto;
    height: 100%;
    font-size: .8rem;
    color: white;
    border-radius: .4rem 0rem 0em .4rem;
}

.epicStyle[b-nmzoxhkka9] {
    width: 1rem;
    height: 100%;
    font-size: .5rem;
    color: white;
    border-radius: 0rem .4rem .4em 0rem;
}

.rotate90[b-nmzoxhkka9] {
    transform: translateX(0%) translateY(80%) rotate(-90deg);
}

/*.RotateIdNumber {
    transform: translateX(10%) translateY(80%) rotate(-90deg);
    transition: .5s ease-in-out;
}*/

.taskDropdown[b-nmzoxhkka9] {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.showMenu[b-nmzoxhkka9] {
    display: flex;
}

.triggerDropdown:hover[b-nmzoxhkka9] {
    display: flex;
}

.dropzone[b-nmzoxhkka9]{
    height: .5rem;
}


.color[b-nmzoxhkka9]{
    border: 2px dashed green;
}

.no-drop[b-nmzoxhkka9] {
    border: 2px dashed red;
}

.moreComponents[b-nmzoxhkka9] {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: start;
    gap: 1rem;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    border: .5px solid lightgray;
}

.moreComponentItem[b-nmzoxhkka9] {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: .5rem;
    
}

.moreBtn:hover[b-nmzoxhkka9]{
    cursor: pointer;
}

.none[b-nmzoxhkka9] {
    display: none;
}

/* /Components/TaskInputComponent3.razor.rz.scp.css */
.taskName[b-3xaex4g1hg] {
    width: 200px;
}

#taskInput[b-3xaex4g1hg] {
    padding: .2rem .5rem;
    resize: none;
    scroll-behavior: smooth;
}


.taskInput:hover[b-3xaex4g1hg] {
    cursor: pointer;
    border: 1px solid black;
}
/* /Components/UserButton.razor.rz.scp.css */
.dropdownMenu[b-wgurrrsii6]{
    border: 1px solid lightgray;
    display: none;
    position: absolute;
    top: 2.5rem;
}

.show-menu[b-wgurrrsii6]{
    display: block;
}


.userIcon[b-wgurrrsii6]{
    position: relative;
}

.nav-link:hover[b-wgurrrsii6]{
    cursor: pointer;
}
/* /Pages/BoardView.razor.rz.scp.css */
.itemAge[b-ly061c0dzs] {
    background: #F2E33A;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: black;
    font-weight: bold;
}

.wipLimitNumber[b-ly061c0dzs]{
    font-size: 1rem;
    background: gray;
    padding: .25rem .6rem;
    color: white;
}

.wipButton[b-ly061c0dzs]{
    font-size: 1rem;
    width: 1rem;
}
/* /Pages/Registration.razor.rz.scp.css */
.message-danger[b-pxdctww0bs]{
    color: red;
}

.message-success[b-pxdctww0bs]{
    color: green;
}
/* /Pages/TableView.razor.rz.scp.css */
.tableViewRow[b-2ijobpjosd]{
    margin-bottom: 0rem;
    border: 1px solid lightgray;
}

.tableViewItem[b-2ijobpjosd]{
    
    padding: 1rem;
    margin: 1rem;
}

.tableViewHeader[b-2ijobpjosd] {
    background: rgb(33, 150, 243);
    color: aliceblue;
}

.completeHeader[b-2ijobpjosd] {
    background: #50F216;
    color: #333333;
}

.tableViewHeaderItem:hover[b-2ijobpjosd]{
    cursor: pointer;
    filter: brightness(1.1);
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-4rpfrvb4au] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-4rpfrvb4au] {
    flex: 1;
}

.sidebar[b-4rpfrvb4au] {
    background-color: white;
    border-right: 5px solid rgb(33, 150, 243);
}

.top-row[b-4rpfrvb4au] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-4rpfrvb4au]  a, .top-row[b-4rpfrvb4au]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-4rpfrvb4au]  a:hover, .top-row[b-4rpfrvb4au]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-4rpfrvb4au]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-4rpfrvb4au] {
        display: none;
    }

    .top-row.auth[b-4rpfrvb4au] {
        justify-content: space-between;
    }

    .top-row[b-4rpfrvb4au]  a, .top-row[b-4rpfrvb4au]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-4rpfrvb4au] {
        flex-direction: row;
    }

    .sidebar[b-4rpfrvb4au] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
        transition: width .5s ease-in-out;
    }

    .top-row[b-4rpfrvb4au] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-4rpfrvb4au]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-4rpfrvb4au], article[b-4rpfrvb4au] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

@media (max-width: 1200px) {
    .sidebar[b-4rpfrvb4au] {
        width: fit-content;
        
    }
}

@media (max-width: 641px) {
    .sidebar[b-4rpfrvb4au] {
        width: 100%;
    }
    .hide[b-4rpfrvb4au] {
        display: none ;
    }
    
}
/* /Shared/NavMenu.razor.rz.scp.css */
.hide[b-6eihwtngyi] {
    display: none;
}

.navbar-toggler[b-6eihwtngyi] {
    background-color: rgba(255, 255, 255, 1);
}

.navbar-toggler-icon[b-6eihwtngyi] {
    color: black;
}

@media(max-width: 641px) {
    .nav-menu[b-6eihwtngyi] {
        position: absolute;
        background: white;
        z-index: 2;
        right: 0;
        border-left: 5px solid var(--mud-palette-secondary);
        border-bottom: 5px solid var(--mud-palette-secondary);
        border-radius: 1rem;
    }
}

@media(max-width: 1200px) {
    .sidebar navmenu[b-6eihwtngyi] {
        width: 5rem;
    }
}

.iconLink[b-6eihwtngyi] {
    margin-left: .5rem;
}

.titleCorner[b-6eihwtngyi] {
    font-size: 24px;
    font-weight: bold;
}

.top-row[b-6eihwtngyi] {
    height: 3.5rem;
}

.navbar-brand[b-6eihwtngyi] {
    font-size: 1.1rem;
}

.oi[b-6eihwtngyi] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}


.nav-item[b-6eihwtngyi] {
    font-size: 1.1rem;
    padding-bottom: 0.5rem;
    margin: .5rem 0rem .5rem 0rem;
}

    .nav-item:first-of-type[b-6eihwtngyi] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-6eihwtngyi] {
        padding-bottom: 1rem;
    }

    .nav-item[b-6eihwtngyi]  a {
        color: rgb(33, 150, 243);
        border-radius: 4px;
        display: flex;
        align-items: center;
    }

        .nav-item[b-6eihwtngyi]  a.active {
            background-color: rgb(33, 150, 243);
            color: white;
        }

        .nav-item[b-6eihwtngyi]  a:hover {
            background-color: rgb(33, 150, 243);
            color: white;
        }

@media(max-width: 1200px) {
    .iconLink[b-6eihwtngyi] {
        display: none;
    }
}

@media (min-width: 641px) {
    .navbar-toggler[b-6eihwtngyi] {
        display: none;
    }

    .collapse[b-6eihwtngyi] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

