.itemAge {
    background: #F2E33A;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: black;
    font-weight: bold;
}

