@page "/"
@using Tasky.Shared.DTOs;


<h1>Dashboard Coming Soon!</h1>

<p>Tasky is an agile project management tool focusing on both Scrum and Kanban. It was created to support and facilitate the management of projects in volatile, uncertain, complex, and ambiguous spaces.</p>


<ul>
    <li>Calendar</li>
    <li>Work Schedules</li>
    <li>and way more...</li>
</ul>


@code {
    
}