.itemAge {
    background: #F2E33A;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: black;
    font-weight: bold;
}

.wipLimitNumber{
    font-size: 1rem;
    background: gray;
    padding: .25rem .6rem;
    color: white;
}

.wipButton{
    font-size: 1rem;
    width: 1rem;
}
