.drop-container{
    position: sticky;
    top: 5rem;
    width: 5rem;
    height: 80vh;
    border: 3px dashed lightgray;
    z-index: 1;
}

.drop-container-text {
    text-align: center;
    font-weight: bold;
    margin-bottom: 2rem;
}

.color{
    border: 3px dotted green;
}

.sprintTasks {
    color: #2196f3ff;
    font-size: 2rem;
}

@media(max-width: 500px) {
    .drop-container {
        height: 5vh;
        width: 100%;
    }

    .drop-container-text {
        text-align: start;
        font-weight: bold;
        margin-bottom: 0rem;
    }

    .sprintTasks {
        color: #2196f3ff;
        font-size: 1rem;
    }
}

.sprintList {
    position: absolute;
    top: -5px;
    left: -5px;
    width: 300px;
    background: white;
    border: 3px dashed lightgray;
    padding: .5rem;
}

.hide {
    display: none;
}