
@inject IJSRuntime JS
@inject IMemberService memberService;
@inject ITaskService taskService;


<div class="d-flex align-items-center justify-content-center">

    @if (Task.TaskId > 0)
    {
        <MudIconButton Color="Color.Info" id="editButton" Icon="@Icons.Material.Filled.Create" Size="Size.Small" @onclick="(()=> EditTask(Task))" />
        
    }
    else
    {
        <MudIconButton Color="Color.Tertiary" id="saveButton" Icon="@Icons.Material.Filled.Save" Size="Size.Small" @onclick="(() => SaveTask(Task))" />
    }
</div>



@code {


    [Parameter]
    public NoteModel Task { get; set; }

    [Parameter]
    public EventCallback RefreshList { get; set; }


    public bool IsClicked { get; set; }

    [Parameter]
    public EventCallback<bool> OnClick { get; set; }

    async void ChildClicked()
    {
        IsClicked = false;
        await OnClick.InvokeAsync(IsClicked);
    }

    async void SaveTask(NoteModel task)
    {
        await taskService.AddTask(task);
        ChildClicked();
        await RefreshList.InvokeAsync();
    }

    async void EditTask(NoteModel task)
    {
        await taskService.UpdateTask(task);
        ChildClicked();
        await RefreshList.InvokeAsync();
    }





}
