<div class="d-flex align-content-center justify-content-center">
    <div class="d-flex flex-column align-items-center justify-content-center gap-3">
        <MudProgressCircular Color="Color.Secondary" Indeterminate="true" />
        <div style="font-size: 1rem; font-weight: bold;">Loading...</div>
    </div>
</div>

@code {

}
