

.subTaskCounter:hover {
    background: rgb(33, 150, 243);
    cursor: pointer;
}

.subTaskCounter {
    border: none;
    padding: .2rem .5rem;
    background: var(--mud-palette-secondary);
    color: white;
}

.subtaskList {
    position: absolute;
    transform: translateY(30px);
    background: lightgray;
    border: 2px solid var(--mud-palette-secondary);
    padding: 1rem;
    box-shadow: -8px 8px 15px 3px rgba(0,0,0,0.45);
    right: 0;
    z-index: 1;
}

.subtaskItem {
    background: var(--mud-palette-dark);
    color: white;
    padding: .5rem .5rem;
    width: 150px;
    margin: .3rem;
}

.hide {
    display: none;
}

.subtaskInfo{
    display: flex;
    margin-bottom: .4rem;
}

.subtaskInfo:last-of-type{
    margin-bottom: 0;
}