.splitContainerBackground {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.splitContainer {
    position: fixed;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background: white;
    padding: 2rem;
    z-index: 1001;
    background: white;
}

.closeIcon {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 1rem;

}
