.taskId {
    background: rgb(33, 150, 243);
}

.subtaskId {
    background: #FF4081;
}

/*.subtaskIndent{
    transform: translateX(2rem);
}*/

.idStyle {
    padding: 2px 8px 2px 8px;
    width: auto;
    height: 100%;
    font-size: .8rem;
    color: white;
    border-radius: .4rem 0rem 0em .4rem;
}

.epicStyle {
    width: 1rem;
    height: 100%;
    font-size: .5rem;
    color: white;
    border-radius: 0rem .4rem .4em 0rem;
}

.rotate90 {
    transform: translateX(0%) translateY(80%) rotate(-90deg);
}

/*.RotateIdNumber {
    transform: translateX(10%) translateY(80%) rotate(-90deg);
    transition: .5s ease-in-out;
}*/

.taskDropdown {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.showMenu {
    display: flex;
}

.triggerDropdown:hover {
    display: flex;
}

.dropzone{
    height: .5rem;
}


.color{
    border: 2px dashed green;
}

.no-drop {
    border: 2px dashed red;
}

.moreComponents {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: start;
    gap: 1rem;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    border: .5px solid lightgray;
}

.moreComponentItem {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: .5rem;
    
}

.moreBtn:hover{
    cursor: pointer;
}

.none {
    display: none;
}

