.taskId {
    background: rgb(33, 150, 243);
}

.subtaskId {
    background: #FF4081;
}

.subtaskIndent {
    transform: translateX(5%);
}

.idStyle {
    padding: 2px 8px 2px 8px;
    width: auto;
    height: 100%;
    font-size: .8rem;
    color: white;
    border-radius: .4rem 0rem 0em .4rem;
}

.splitButton{
    position: relative;
}

.splitButton:hover::after{
    content: "Split Task";
    font-weight: bold;
    position: absolute;
    top: 1.5rem;
    background: yellow;
    padding-left: .5rem;
    padding-right: .5rem;
}

.epicStyle {
    
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    border-radius: 0rem .4rem .4em 0rem;
}

.rotate90 {
    color: white;
    width: 1rem;
    font-size: .5rem;
    transform: rotate(-90deg);
    margin: 0rem;
}

/*.RotateIdNumber {
    transform: translateX(10%) translateY(80%) rotate(-90deg);
    transition: .5s ease-in-out;
}*/

.taskDropdown {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.showMenu {
    display: flex;
}

.triggerDropdown:hover {
    display: flex;
}

.dropzone {
    height: .5rem;
}


.color {
    border: 2px dashed green;
}

.no-drop {
    border: 2px dashed red;
}

.moreComponents {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    border: 0.5px solid lightgray;
    align-items: center;
}

.subtasksIcon {
    background: var(--mud-palette-secondary);
    color: white;
    width: 1rem;
    height: 1rem;
}

.moreComponentItem {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
   
    gap: .5rem;
}

.moreComponents p {
    margin-bottom: 0rem;
}

.moreBtn:hover {
    cursor: pointer;
}

.none {
    display: none;
}
