.taskBorder {
    border-left: 10px solid rgb(33, 150, 243);
}

.subtaskBorder {
    border-left: 10px solid #FF4081;
}

.taskDropdown{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.showMenu{
    display: flex;
}

.triggerDropdown:hover{
    display: flex;
}


