.taskName {
    width: 200px;
}

#taskInput {
    padding: .2rem .5rem;
    scroll-behavior: smooth;
    min-height: fit-content;
}


.taskInput:hover {
    cursor: pointer;
    border: 1px solid black;
}
