

.user-story-input {
    padding: .2rem .5rem;
    scroll-behavior: smooth;
    min-height: fit-content;
    border: 1px solid lightgray;
}


.taskInput:hover {
    cursor: pointer;
    border: 1px solid black;
}
