@inject IJSRuntime JS;
@inject ITaskService taskService;

<div class="taskInput d-flex justify-content-left align-items-center flex-wrap @SubtaskCss">
    <textarea class="user-story-input"
              placeholder="As a..."
              rows="1" cols="10"
              @onkeyup="KeyPressed"
              @onfocusout="DeActivate"
              @bind-value="userStory.As"
              @bind-value:event="oninput" />
    <textarea class="user-story-input"
              placeholder="I want..."
              rows="1" cols="20"
              @onkeyup="KeyPressed"
              @onfocusout="DeActivate"
              @bind-value="userStory.Want"
              @bind-value:event="oninput" />
    <textarea class="user-story-input"
              placeholder="So that..."
              rows="1" cols="30"
              @onkeyup="KeyPressed"
              @onfocusout="DeActivate"
              @bind-value="userStory.So"
              @bind-value:event="oninput" />
</div>

@code {

    [Parameter]
    public NoteModel Task { get; set; }

    [Parameter]
    public EventCallback<bool> Active { get; set; }
    [Parameter]
    public EventCallback<bool> RefreshList { get; set; }

    public UserStory userStory = new();

    public string SubtaskCss => Task.isSubTask == true ? "subtaskIndent" : "";

    public async void DeActivate()
    {
        await Active.InvokeAsync(false);
    }

    protected override Task OnParametersSetAsync()
    {
        if (Task.UserStory != null)
        {
            userStory = Task.UserStory;
        }
        return base.OnParametersSetAsync();

    }

    public async void KeyPressed(KeyboardEventArgs e)
    {
        try
        {
            if (e.Code != "Enter")
            {
                //send message to parent that child is active and buttons should be displayed
                await Active.InvokeAsync(true);
            }
            else if (e.Code == "Enter" || e.Code == "NumpadEnter")
            {
                if (Task.TaskId > 0)
                {
                    Task.UserStory = userStory;
                    userStory.TaskId = Task.TaskId;
                    await taskService.UpdateTask(Task);
                    await RefreshList.InvokeAsync();

                }
                else if (Task.TaskId == 0)
                {
                    Task.UserStory = userStory;
                    userStory.TaskId = Task.TaskId;
                    await taskService.AddTask(Task);
                    await RefreshList.InvokeAsync();
                }

                //send message to parent that child is inactive and buttons should be hidden
                await Active.InvokeAsync(false);
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message.ToString());
        }


    }

}
